<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: header" />

<style>
img {
  max-width: 100%;
}
img.thumbnail {
  width: 100px;
  height: 70px;
}
</style>
<include src="header.html"></include>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="navbar :: navbar" />

<h1 align="center">Resident updated successfully</h1>


<div class="card" align="center" style="width: 18rem;">
  <img th:src="${resident_picture}" class="card-img-top img-thumbnail" alt="">
  <div class="card-body">
    <h1 class="card-title" th:text="${full_name}">Card title</h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="${advance_amount}">Advance Amount</li>
    <li class="list-group-item" th:text="${rent_amount}">Rent Amount</li>
    <li class="list-group-item" th:text="${room_number}">Room Number</li>
  </ul>

</div>
</body>
</html>